.app_mobile {
  text-align: center;
  /*background-color: #D2E4F2;*/
  padding: 16px;
  background: linear-gradient(
          180deg,
          #eaf3fb 0%,
          #d2e4f2 50%,
          #c6dbec 100%
  );
}
.postcard_mobile {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:
          linear-gradient(65deg,
          transparent calc(50% - var(--half-line)),
          #2c3e50 calc(50% - var(--half-line)),
          #2c3e50 calc(50% + var(--half-line)),
          transparent calc(50% + var(--half-line))
          ),
          linear-gradient(115deg,
          transparent calc(50% - var(--half-line)),
          #2c3e50 calc(50% - var(--half-line)),
          #2c3e50 calc(50% + var(--half-line)),
          transparent calc(50% + var(--half-line))
          );
  background-size: 100% 100%;
}
.openWindow_date_mobile_h2 {
  font-family: 'Flores del Sol', cursive;
  font-size: 36px;
  align-self: end;
  color: #203D7D;
}
.postcard_text_mobile {
  font-family: 'RUSJellyka-LoveandPassion', cursive;
  font-size: 36px;
}
.openWindow_text_mobile {
  font-family: 'Flores del Sol', cursive;
  font-size: 56px;
  color: #203D7D;
}
.postcard_text_mobile_h2 {
  font-family: 'RUSJellyka-LoveandPassion', cursive;
  font-size: 28px;
}
.openWindow_text_mobile_h2 {
  font-family: 'Flores del Sol', cursive;
  font-size: 36px;
  color: #203D7D;
}
.openWindow_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.places_mobile {
  display: flex;
  flex-direction: column;
  margin: 12px 36px 48px;
  padding: 8px;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(34, 60, 80, 0.5);
}
.timer_mobile {
  width: 30px;
  height: 40px;
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}
.motionTimer_mobile {
  position: absolute;
  inset: 0;
  /*background: #203D7D;*/
  color: #203D7D;
  /*color: #D2E4F2;*/
  background: #c6dbec;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  font-family: 'Flores del Sol', cursive;
}
.our_block_mobile {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #203D7D;*/
  background-color: #D2E4F2;
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgba(34, 60, 80, 0.5);

  background-image:
    url('/src/assets/images/right-up.png'),
    url('/src/assets/images/left-bottom.png');
  background-position:
    top right,
    bottom left;
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.friends_block_mobile {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #203D7D;*/
  background-color: #D2E4F2;
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgba(34, 60, 80, 0.5);

  background-image:
    url('/src/assets/images/right-up.png'),
    url('/src/assets/images/left-bottom.png');
  background-position:
    top right,
    bottom left;
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.places_block_mobile {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #203D7D;*/
  background-color: #D2E4F2;
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgba(34, 60, 80, 0.5);

  background-image:
    url('/src/assets/images/right-up.png'),
    url('/src/assets/images/left-bottom.png');
  background-position:
    top right,
    bottom left;
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.dresscode_mobile {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #203D7D;*/
  background-color: #D2E4F2;
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgba(34, 60, 80, 0.5);

  background-image:
          url('/src/assets/images/right-up.png'),
          url('/src/assets/images/left-bottom.png');
  background-position:
          top right,
          bottom left;
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.photo_mobile_card {
  display: flex;
  flex-direction: column;
  margin: 48px 36px;
  padding: 8px;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(34, 60, 80, 0.5);
}